.row
  %article.small-9.columns
    %h3
      - if digest
        = link_to article.title, article
      - else
        = article.title
    - if digest
      = article.summary
    - else
      = article.body

    - if digest && article.summary.length < article.body.length
      = link_to 'Read more &rarr;', article.url, class: 'secondary button radius'

    - unless digest
      %ul.read_next
        %li= article.previous_article ? link_to("&laquo; #{article.previous_article.title}", article.previous_article) : "&nbsp;"
        %li= article.next_article ? link_to("#{article.next_article.title} &raquo;", article.next_article) : "&nbsp;"

      #disqus_thread
        %script{type: 'text/javascript'}
          var disqus_shortname = '';
          (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        %noscript
          Please enable JavaScript to view the
          = link_to "comments powered by Disqus", "http://disqus.com/?ref_noscript"
        %a.dsq-brlink{href: "http://disqus.com"}
          %span.logo-disqus Disqus
  %aside.small-3.columns
    %ul.credit
      - article.tags.each do |tag|
        %li= link_to tag, tag_path(tag), class: 'tiny button secondary round'
